main{
    min-height: 90vh;
}
.font-family-julius-sans{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-family-ysabeau-sc{
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-family-eb-garamond {
            font-family: "EB Garamond", serif;
            font-optical-sizing: auto;
            font-style: normal;
}

.custom-padding {
    padding-left: 20px;
}