{% extends "app/master.html" %}
{% block title %}
    Affiliates
{% endblock title %}
{% block content %}
    <h1 class="font-family-ysabeau-sc"
        style=" position: relative; margin-top: 3vw; margin-bottom: 3vw; text-align: center; font-size: 6vh;">
        JACL Affiliate Organizations</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="d-flex flex-column py-3 bg-darkblue text-light align-items-center"
                     style="margin-bottom: 3vh;">
                    <h2 class="font-family-eb-garamond text-light"
                        style="font-size: 4vh; margin-bottom: 2vh;">
                        Japanese Cultural
                        Organizations
                    </h2>
                    <ul>
                        {% for affiliate in affiliates_JCO %}
                            <li style="margin-bottom: 1vh; font-size: 3vh">
                                <a class="text-light" href="{{ affiliate.website }}"
                                   target="_blank">{{ affiliate.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex flex-column py-3 bg-light text-black align-items-center"
                     style="margin-bottom: 3vh;">
                    <h2 class="font-family-eb-garamond text-black" style="font-size: 4vh; margin-bottom: 2vh;">
                        Religious Organizations
                    </h2>
                    <ul>
                        {% for affiliate in affiliates_Religious %}
                            <li style="margin-bottom: 1vh; font-size: 3vh">
                                <a class="text-black" href="{{ affiliate.website }}"
                                   target="_blank">{{ affiliate.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex flex-column py-3 bg-darkblue text-light align-items-center"
                     style="margin-bottom: 3vh;">
                    <h2 class="font-family-eb-garamond text-light"
                        style="font-size: 4vh; margin-bottom: 2vh;">
                        AANHPI
                        Organizations
                    </h2>
                    <ul>
                        {% for affiliate in affiliates_AANHPI %}
                            <li style="margin-bottom: 1vh; font-size: 3vh">
                                <a class="text-light" href="{{ affiliate.website }}"
                                   target="_blank">{{ affiliate.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-flex flex-column py-3 bg-light text-black align-items-center"
                     style="margin-bottom: 3vh;">
                    <h2 class="font-family-eb-garamond text-black" style="font-size: 4vh; margin-bottom: 2vh;">
                        LQBTQIA+ Organizations
                    </h2>
                    <ul>
                        {% for affiliate in affiliates_LGBT %}
                            <li style="margin-bottom: 1vh; font-size: 3vh;">
                                <a class="text-black" href="{{ affiliate.website }}"
                                   target="_blank">{{ affiliate.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
            </div>
        </div>
    </div>
{% endblock content %}
