{% extends "app/master.html" %}
{% load static %}

{% block title %}
    Board Members
{% endblock title %}

{% block content %}
    
{{board_members}}
<div class="container-fluid">
    <div class="col justify-content-md-center ml-4">
        <h1 class="font-family-julius-sans mt-4 mb-4">BOARD MEMBERS</h1>
        {% for member in board_members %}
        <!-- Board Member 1 -->
        <div class="row mb-4"> 
            <div class="col-md-3">
                <img src="{%  static member.profile_picture %}" alt="{{ member.name }}" class="w-100">
            </div>
            <!-- Information -->
            <div class="col-md-9">
                <h2 class="font-family-julius-sans font-weight-bold">{{ member.name }}</h2>
                <p class="font-family-julius-sans">PRESIDENT</p>
                <p class="font-family-julius-sans"><a href="mailto:president@slcjacl.com" style="text-decoration: underline;">president@slcjacl.com</a></p>
            </div>
        </div>
      
                    
            <!-- Board Member 2 -->
            <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="METRA BARTON" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">METRA BARTON</h2>
                    <p class="font-family-julius-sans">TREASURER</p>
                    <p class="font-family-julius-sans"><a href="mailto:treasurer@slcjacl.com" style="text-decoration: underline;">treasurer@slcjacl.com</a></p>
                </div>
            </div>

             <!-- Board Member 3 -->
             <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="OLIVERA MASTERS" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">OLIVERA MASTERS</h2>
                    <p class="font-family-julius-sans">SECRETARY</p>
                    <p class="font-family-julius-sans"><a href="mailto:secretary@slcjacl.com" style="text-decoration: underline;">secretary@slcjacl.com</a></p>
                </div>
            </div>

             <!-- Board Member 4 -->
             <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="JASON KUNISAKI" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">JASON KUNISAKI</h2>
                    <p class="font-family-julius-sans">MEMBERSHIP</p>
                    <p class="font-family-julius-sans"><a href="mailto:membership@slcjacl.com" style="text-decoration: underline;">membership@slcjacl.com</a></p>
                </div>
            </div>

             <!-- Board Member 5 -->
             <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="CAMERON SUEOKA" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">CAMERON SUEOKA</h2>
                    <p class="font-family-julius-sans">YOUTH REP</p>
                    <p class="font-family-julius-sans"><a href="mailto:youthrep@slcjacl.com" style="text-decoration: underline;">youthrep@slcjacl.com</a></p>
                </div>
            </div>

            <!-- Board Member 6 -->
            <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="MICHAEL IWASAKI" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">MICHAEL IWASAKI</h2>
                    <p class="font-family-julius-sans">SALT LAKE BUDDHIST TEMPLE LIASON</p>
                    <p class="font-family-julius-sans"><a href="mailto:personalemail@slcjacl.com" style="text-decoration: underline;">personalemail@slcjacl.com</a></p>
                    </div>
            </div>

            <!-- Board Member 6 -->
            <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="IKUE CHAMBLES" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">IKUE CHAMBLES</h2>
                    <p class="font-family-julius-sans">MATSUMOTO LIASON</p>
                    <p class="font-family-julius-sans"><a href="mailto:personalemail@slcjacl.com" style="text-decoration: underline;">contact@slcjacl.com</a></p>
                    </div>
            </div>

             <!-- Board Member 8 -->
             <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="CODY CRAYNOR" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">CODY CRAYNOR </h2>
                    <p class="font-family-julius-sans">PEACH GARDEN LIASON</p>
                    <p class="font-family-julius-sans"><a href="mailto:contact@slcjacl.com" style="text-decoration: underline;">contact@slcjacl.com</a></p>
                    </div>
            </div>
    
            <!-- Board Member 9 -->
            <div class="row mb-4"> 
                <div class="col-md-3">
                    <img src="https://via.placeholder.com/200/CCCCCC/FFFFFF?text=Grey+Image" alt="JEFF IMATI" class="w-100">
                </div>
                <!-- Information -->
                <div class="col-md-3">
                    <h2 class="font-family-julius-sans font-weight-bold">JEFF IMATI </h2>
                    <p class="font-family-julius-sans">AT LARGE</p>
                    <p class="font-family-julius-sans"><a href="mailto:contact@slcjacl.com" style="text-decoration: underline;">contact@slcjacl.com</a></p>
                    </div>
            </div>
            {% endfor %}
        </div>
    
{% endblock content %}
