{% extends "app/master.html" %}
{% load static %}
{% block title %}
    Events
{% endblock title %}
{% block content %}
<div class="container bg-light my-3" style="max-height:70vh;overflow:scroll;">
    {% for event in upcomingEvents %}
        <div class="d-flex flex-row align-items-center justify-content-center m-2 flex-wrap">
            <div class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                <img src="{% static event.banner_image %}" class="img-fluid rounded" width="500">
            </div>
            <div class="col-md-8 col-sm-12 p-3">
                <h4 class="font-family-ysabeau-sc">{{event.title}}</h4>
                <p>{{event.description}}</p>
                <p><b>Location:</b> {{event.location}}</p>
                <p>
                    <b>From:</b> {{event.start}}
                    <br>
                    <b>To:</b> {{event.end}}
                </p>
                {% if event.registration_link %}
                    <a href="{{event.registration_link}}"><button class="btn btn-success">Register</button></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="container p-5">
    <div id="calendar"></div>
</div>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_eventTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100 d-flex align-items-center justify-content-center"><img src=""id="modal_eventBanner" class="pb-4" style="max-height:300px;"></div>
                <h6>Event Description:</h6>
                <p id="modal_eventDescription"></p>
                <h6>Event Start Date/Time:</h6>
                <p id="modal_eventStart"></p>
                <h6 id="modal_eventEndHeader">Event End Date/Time:</h6>
                <p id="modal_eventEnd"></p>
                <h6>Event Location:</h6>
                <p id="modal_eventLocation"></p>
            </div>
            <div class="modal-footer" id="modalFooter"></div>
        </div>
    </div>
</div>

<script>
    const currentEventTitle = document.getElementById('modal_eventTitle');
    const currentEventDescription = document.getElementById('modal_eventDescription');
    const currentEventStart = document.getElementById('modal_eventStart');
    const currentEventEnd = document.getElementById('modal_eventEnd');
    const currentEventBanner = document.getElementById('modal_eventBanner');
    const currentEventLocation = document.getElementById('modal_eventLocation');
    const modalFooter = document.getElementById('modalFooter');
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: {{allEvents|safe}},
            eventClick: function(info) {
                currentEventTitle.innerText = info.event.title;
                currentEventDescription.innerText = info.event.extendedProps.description;
                currentEventLocation.innerText = info.event.extendedProps.location;
                var imageText = "/static/" + info.event.extendedProps.banner_image;
                currentEventBanner.setAttribute('src', imageText);
                if(info.event.extendedProps.registration_link){
                  modalFooter.innerHTML = '<a target="blank" href="'+ info.event.extendedProps.registration_link +'"><button class="btn btn-primary">Register</button></a>';
                }else{
                  modalFooter.innerHTML = '';
                }
                var startOn = new Date(info.event.start);
                var startHour = startOn.getHours();
                var startMinute = startOn.getMinutes();
                if (startHour === 0 && startMinute === 0) {
                    startOn = startOn.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric', weekday: 'long' });
                } else {
                    startOn = startOn.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric', weekday: 'long', hour: '2-digit', minute: '2-digit', hour12: true });
                }
                currentEventStart.innerText = startOn;
                if(info.event.end){
                  document.getElementById('modal_eventEndHeader').style.display = 'block';
                  var endOn = new Date(info.event.end);
                  var endHour = endOn.getHours();
                  var endMinute = endOn.getMinutes();
                  if (endHour === 0 && endMinute === 0) {
                      endOn = endOn.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric', weekday: 'long' });
                  } else {
                      endOn = endOn.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric', weekday: 'long', hour: '2-digit', minute: '2-digit', hour12: true });
                  }
                  currentEventEnd.innerText = endOn;
                }else{
                  document.getElementById('modal_eventEndHeader').style.display = 'none';
                  currentEventEnd.innerText = '';
                }
                $("#eventModal").modal("show");
            },
            height: 700,
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>
{% endblock content %}