{% extends "app/master.html" %}
{% block title %}
    Join JACL
{% endblock title %}
{% block content %}
    <style>
        .top-circle {
            width: 14.6em;
            height: 14em;
            background-color: #9ecfeb;
        }

        .middle-circle {
            width: 29.3em;
            height: 28em;
            background-color: #50a0ce;
        }
    </style>
    <div class="container">
        <div class="bg-bridgered d-flex flex-row align-items-center justify-content-between w-100 px-5 py-3 my-2">
            <h1 class="font-family-eb-garamond text-white">Join Us</h1>
            <a href="https://jacl.salsalabs.org/jaclnewmemberform/index.html" target="_blank">
                <button class="font-family-eb-garamond bg-beige btn btn-success text-black">Click Here to Join JACL!</button>
            </a>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="position-relative w-auto h-100 p-3 bg-dark">
            <div class="row position-absolute top-circle rounded-circle top-0 end-0 align-items-center">
                <div class="flex-column justify-content-center h-auto w-auto p-2">
                    <p class="h6 font-family-eb-garamond text-light text-center">Join the JACL<br> in Our Mission for Civil Rights!</p>
                </div>

            </div>
            <div class="row middle-circle rounded-circle position-absolute bottom-0 start-0 align-items-center">
                <div class="flex-column justify-content-center h-auto w-auto p-2">
                    <p class="h7 font-family-eb-garamond text-light text-center">Founded in 1929, the Japanese American Citizens League (JACL) is the
                        nation’s first and largest Asian American civil rights organization.
                    </p>
                    <p class="h7 font-family-eb-garamond text-light text-center">
                        As a 501(c)3 nonprofit charitable organization, the JACL champions and advocates for the
                        Japanese American, Asian Pacific Islander American (APIA), and civil rights communities
                        through advocacy, education, and leadership development.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}