{% extends "app/master.html" %}
{% block title %}
    Join JACL
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="bg-bridgered d-flex flex-row align-items-center justify-content-between w-100 px-5 py-3 my-2">
            <h1 class="font-family-eb-garamond text-white">Join Us</h1>
            <a href="https://jacl.salsalabs.org/jaclnewmemberform/index.html" target="_blank">
                <button class="h3 font-family-eb-garamond bg-beige">Click Here to Join JACL!</button>
            </a>
        </div>
        <br>
        <br>
        <p class="h5 font-family-eb-garamond">Clicking the button will take to the national chapter's website to sign
            up with JACL. Simply follow the steps there and select the Salt Lake City chapter
            and you will be signed up correctly!
        </p>
    </div>

{% endblock content %}