{% extends "app/master.html" %}
{% load static %}
{% block title %}
    Mission & Vision
{% endblock title %}
{% block content %}
    <img class="img-fluid" src="{% static "images/mission-vision/protestPic.svg" %}" alt="protest image" style="margin-bottom: 10vh;">

    <div style="margin-left: 4.5vw; margin-right: 4.5vw; margin-bottom: 5vh;">
        <h1 class="font-family-ysabeau-sc" style="font-size: 8vh;">
            Mission
        </h1>
        <br>
        <p class= "font-family-eb-garamond" style="font-size: 3vh;">
            The Salt Lake JACL’s mission is to protect the civil and human rights of all those marginalized by bigotry <br> and injustice.
            We stand at the forefront of many social justice movements and champion diversity, equity, and <br> inclusion for all.
            We also work to preserve the heritage and legacy of the Japanese American community.
        </p>
    </div>

    <div style="margin-left: 4.5vw; margin-right: 4.5vw; margin-bottom: 10vh;">
        <h1 class="font-family-ysabeau-sc" style="font-size: 8vh;">
            Vision
        </h1>
        <br>
        <p class="font-family-eb-garamond" style="font-size: 3vh;">
            Salt Lake JACL strives to promote equity and social justice for all <br>people through education, advocacy, and activism.
        </p>
    </div>


{% endblock content %}