{% extends "app/master.html" %}
{% load static %}
{% block title %}
    Mission & Vision
{% endblock title %}
{% block content %}
    <img class="img-fluid" src="{% static "images/mission-vision/protestPic.svg" %}" alt="protest image" style="margin-bottom: 10vh;">

    <div style="margin-left: 4.5vw; margin-right: 4.5vw; margin-bottom: 5vh; width: 75vw;">
        <h1 class="font-family-ysabeau-sc" style="font-size: 8vh;">
            Mission
        </h1>
        <br>
        <p class= "font-family-eb-garamond" style="font-size: 3vh;">
            {{ mission }}
        </p>
    </div>

    <div style="margin-left: 4.5vw; margin-right: 4.5vw; margin-bottom: 10vh; width: 75vw;">
        <h1 class="font-family-ysabeau-sc" style="font-size: 8vh;">
            Vision
        </h1>
        <br>
        <p class="font-family-eb-garamond" style="font-size: 3vh;">
            {{ vision }}
        </p>
    </div>


{% endblock content %}