{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 font-family-ysabeau-sc">
    <a class="navbar-brand d-flex flex-row" href="/">
        <img src="{% static "images/logo/JACL_Flower.webp" %}" style="mix-blend-mode:multiply;" width="100">
        <span class="d-flex flex-column ml-2 font-family-julius-sans">
            <h1 class="display-5">JACL</h1>
            <h5>SALT LAKE CITY CHAPTER</h5>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for title, subpages in pages.items %}
                <li class="
                    nav-item
                    {% if subpages|length != 0 %} dropdown {% endif %}
                    {% if active == title %} active {% endif %} 
                    mx-5
                ">
                    <a class="
                            nav-link
                            {% if subpages|length != 0 %} dropdown-toggle {% endif %}
                        " 
                        {% if subpages|length != 0 %}
                            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        {% else %}
                            href="/{{title|lower}}"
                        {% endif %}
                    >
                        {{title|upper}} 
                        {% if active == title %} <span class="sr-only">(current)</span> {% endif %}
                    </a>
                    {% if subpages|length != 0 %}
                        <div class="dropdown-menu p-2">
                            {% for subpage, link in subpages.items %}
                                <a class="dropdown-item p-2" 
                                    {% if link|length == 2 %}
                                        href="/{{link.1}}"
                                        target="_blank"
                                    {% else %}
                                        href="/{{link}}"
                                    {% endif %}
                                >{{subpage}}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>