{% extends "app/master.html" %}
{% block title %}
    Volunteer
{% endblock title %}
{% block content %}

    <div class="container">
        <div class="bg-darkblue d-flex flex-row align-items-center"
             style="height:10vh; margin-bottom: 5vh;">
            <h3 class="font-family-ysabeau-sc text-light" style="margin: 3vw; font-size: 2.5vw;">Volunteer with JACL
                Salt
                Lake
                City</h3>
        </div>
        <p class="font-family-eb-garamond text-black" style="font-size: 3vh;">Please check back soon for more
            information on how to volunteer
            with our organization!</p>
    </div>
{% endblock content %}